




/*CSS Reset*/


html, body, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li , img, figcaption, figure{

	margin: 0 ;
	padding: 0 ;
	font-size: 100% ;
	font-family: Verdana ;
	border: 0 none ;
	color: #2a48a2;

}


article, aside, figcaption, 
footer, header, nav, section {
    display: block ; 
}



ul, ol {

	list-style-type: none ;

}

header{
	margin: 0 auto ;
    width: 90% ;

	background-color: #e6f2ff;
}


#wrapper{
	margin: 0 auto ;
    background-color: #c2cdef;
    width: 90% ;


}

#diabetes{

    width: 50%;
	font-size: 1.5em ;
	padding: 2em ;
	text-align: center ;
}


#form{

	
	
	
	overflow: hidden ;

   padding: 1em 0em 2em 0em ;
}



.formcontrol{
	
	display: block ;
	margin: 0em auto ;
	
	padding: 2em 0em 
  
}

.row{


	margin: .4em  auto ;
}

fieldset{

    margin: 1em auto ;
    width:60% ;
	border: none ;
}

legend{

	font-size: 1.3em ;
	text-align: left;
	font-weight: bold ;
}


label{

	float: left ;
	width: 30% ;
	padding-right: 1em ;
	text-align: right ;
	



	}
input{

	width: 20% ;
	padding: .5em ;
	color:#0f240f;
	border-radius: 1px 1px 1px 1px ;


	
	 
}

select{

	width: 10% ;

 

}
 label.radio{

	margin-top:-.4em ;
	text-align: right ;
	color:#999966;


}
input[type=radio]{

	width: 5% ;
	
	
}

input[type=submit]{

	width: 50px;

	border-radius: 1px 1px ;
	box-shadow: 1px 1px .5px 0.5px #236841 ;
	background-color:#999966 ;
	color:#ffffff;
	font-weight: bold ;

}	


.errorDiv{

 float: right;
 width: 44%;
 
 overflow: hidden;





}


#fnameValid, #snameValid, #telValid, #emailValid, #hanValid{
  display: none;
  text-align: left;
  width: 100%;
  overflow: hidden;
  margin: 0 auto ;


}

/*label.errorMsg{


	display: none;

	




}*/

.placeHolder{


	display: none ;
}


span.redStar{


	color: #FF0000 ;
}

#toolTipContainer{

    position: relative ;
    display: inline-block ;

 

}



#toolTipText{


    background-color: #00004d ;
    color: #fff ;
  
    width: 120px ;
    text-align: center ; 
    padding: 5px 0 ;
    border-radius: 6px ;
 
    /* Position the tooltip text - see examples below! */
    position: absolute 	;
    z-index: 1 ;
}



#info{
	margin: 0 auto ;

	overflow: hidden ;

}


#confirmScore p {


	display: none;

}
