
/*Javascript FMA -  CSS
	Student Id: Bturny01
	Student No: 13025638
	Tutor Name: Tobi Brody
	Submission Deadline: 09-08-2016*/






html, body, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li , img, figcaption, figure{

	margin: 0 ;
	padding: 0 ;
	font-size: 100% ;
	font-family: Verdana ;
	border: 0 none ;
	color: #2a48a2;

}


article, aside, figcaption, 
footer, header, nav, section {
    display: block ; 
}



ul, ol {

	list-style-type: none ;

}

header{
	margin: 0 auto ;
	overflow: hidden ;
    width: 100% ;
	background-color: #e6f2ff;
	padding: 5em 0em;

	

}

h1{

	font-size: 1.8em ;
    width: 100%;
	color:#660033;
	margin: 0 auto ;
	line-height: 2.2em ;
	padding: 0em 0em ;
	text-align: center ;
	overflow: hidden ;

}



#wrapper{
	margin: 0 auto ;
    background-color: #c2cdef;
    width: 100% ;
    padding-top: 4em ;
}

#formSection{

	margin: 0 auto ;
	padding-bottom: 4em;
}


#diabetesform{

   overflow: hidden ;

   padding: 4em 0em 4em 0em ;
}

#contactForm{
   overflow: hidden ;
   padding: 4em 0em 4em 0em ;
   margin-left: -10% ;

 


}

.formcontrol{
	
	display: block ;
	margin: 0em auto ;
	
	padding: 2em 0em 
}

.row{


	margin: .5em  auto ;
}

fieldset{
    
    margin: 0em auto 2.5em auto ;
    width:100% ;
	border: none ;
	
}

legend{

	font-size: 1.3em ;
	text-align: left;
	font-weight: bold ;
	margin: 1.5em 0em;
	text-align: center;
	margin-left: 20%;
	color: 	#1a3365;

}



label{

	float: left ;
	width: 50% ;
	padding-right: 1em ;
	text-align: right ;
	color: 	#1a3365;
	
	}
input{

	width: 50% ;
	padding: .5em ;
	color:#0f240f;
	border-radius: 1px 1px 1px 1px ;
	text-align: left;
	 
}


.formcontrol input{

	width: 15% ;
	padding: .5em 1em ;
	color: #0f240f;
	border-radius: 1px 1px 1px 1px ;
	text-align: left;


}


.formcontrol label{


	width: 40% ;
	padding: .25em 1em  ;
	color:	#1a3365 ;
	border-radius: 1px 1px 1px 1px ;
	text-align: right ;	

}

select{

	width: 10% ;

}


 label.radio{

	margin-top:-.4em ;
	text-align: right ;
	color: #152951;
}


input[type=radio]{

	width: 5% ;
}

input[type=submit]{


    border-radius: 5px;
    border: 0;
    width: 80px;
    height:25px;
    font-family: Tahoma;
    background: #e6f2ff;
    color:#660033 ;
    font-weight: normal;
    position:relative;
    text-align: center;
}

#submit{


	width: 100% ;
	margin-left: 50% ;
	margin-bottom: 1.5em ;
}


.errorDiv{

 float: right;
 width: 40%;
 

 overflow: hidden;
}


#fnameValid, #snameValid, #telValid, #emailValid, #hanValid{
  display: none;
  text-align: left;
  width: 100%;
  overflow: hidden;
  margin: 0 auto ;
 


}




.placeHolder{


	display: none ;
}


span.redStar{


	color: #FF0000 ;
}

#toolTipContainer{

   
    display: none;
	float: right;
	width: 20%;
	height: 20% ;
	
	margin-right: 15%;
	margin-top: -6%	;
	

}



#toolTipText{

    
    background-color: #00004d ;
    color: #fff ;
    width: 100%;
    height: 100%;
    text-align: center ; 
    padding: 5px 0 ;
    border-radius: 6px 6px 6px 0px;
    font-size: .8em ;
  

}



#info{
	margin: 0 auto ;
	overflow: hidden ;

}


#confirmScore  { 

	display: none;
	color: 	#1a3365;

}

#result15, #result25. #resultOver26  {


    padding: 2em;


	
}

strong{

	font-size: 1.5em;
	color:#660033;

}



a.contact:link, a.contact:visited{
	color: #b30047 ;
	text-decoration: none ;

}

a.contact:hover, a.contact:active {
	color: #660033  ;
	text-decoration: underline;
	font-weight: bold ;

}

#footer{
	margin: 0 auto ;
	overflow: hidden ;
    width: 100% ;
	background-color: #e6f2ff;
	padding: 3em 0em;
	text-align: center;
	font-size: .8em ;


}

